{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_log_url = "{{=URL('api', 'add_logs', user_signature=True)}}";
    var dup_course_url = "{{=URL('api', 'check_dup')}}";
    var is_logged_in = "{{='false' if auth.user is None else 'true'}}";
    var get_profs_url = "{{=URL('api', 'get_profs')}}";
</script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{{end}}
<div class="add_class_form_outer_box">
    <p>Add Course Logistics</p>

    <div class="add_class_form" id="vue-div4">
        <div style="display:inline-block" class="add_class_form_box">
            <div v-if="courseProfs.length < 1 || currProf == 'Add a new professor'">
                <div>
                    <p>Course Professor</p>
                    <textarea v-model="logProf" placeholder="e.g. 'Luca de Alfaro'"></textarea>
                </div>
            </div>
            <div v-else>
                <div v-if="currProf != 'Add a new professor'">
                    <div>
                        <p>Course Professor</p>
                        <div class="styled-select" id="prof_select"> 
                            <select v-model="currProf">
                                <option disabled value="">Choose a professor</option>
                                <option v-for="prof in courseProfs">
                                    ${prof}
                                </option>
                                <option>Add a new professor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SHOULD RPOBABLY WRITE A FUNCTION THAT CALCUATES THE CURRENT
             THE CURRENT YEAR AND DOES A FOR-LOOP TO CREATE QUARTERS FOR EACH
             ACAMEDIC YEAR FOR THE PAST ~4 YEARS BUT COULD ALSO JUST LEAVE IT
             HARD-CODED-->
        <div class="add_class_form_box" style="display:inline-block">
            <p>Quarter</p>
            <div class="select_box">
                <div class="styled-select"> 
                    <select style="width: 48%;" v-model="logQuarter">
                        <option disabled value="">Quarter</option>
                        <option>Fall</option>
                        <option>Winter</option>
                        <option>Spring</option>
                        <option>Summer</option>
                    </select>
                    <select style="width: 48%;" v-model="logYear">
                            <option disabled value="">Year</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>   
                    </select>
                </div>
            </div>
        </div>

        <div class="add_class_form_box" style="display:inline-block">
            <p>Number of Homework Assignments</p>
            <div class="select_box">
                <div class="styled-select"> 
                    <select v-model="numAsgn">
                        <option disabled value="">Choose number of homework assignments</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                    </select>
                </div>    
            </div>
        </div>

        <div class="add_class_form_box" style="display:inline-block">
            <p>Number of Midterms</p>
            <div class="select_box">
                <div class="styled-select"> 
                    <select v-model="numMidterm">
                        <option disabled value="">Choose number of midterms</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>    
            </div>
        </div>

        <div class="add_class_form_box" style="display:inline-block">
            <p>Other Info</p>
             <div class="radio_box">
                <div>
                    <input type="checkbox" v-model="finalCheck" class="check-box">
                    <label class="label-class" for="final-checkbox">Final Examination?</label>
                </div>
                <div>
                    <input type="checkbox" v-model="attCheck" class="check-box">
                    <label class="label-class" for="att-checkbox">Attendance Taken?</label>
                </div>
                <div>
                    <input type="checkbox" v-model="webCheck" class="check-box">
                    <label class="label-class" for="web-checkbox">Webcasts Available?</label>
                </div>
             </div>
        </div>

        <div class="add_class_form_box large-text" style="width: 98%" >
            <p>Course Logistics Content</p>
            <textarea v-model="logContent" placeholder="Add any information specific to this course that wasn't mention above"></textarea>
        </div>

        <div class="new-butt">
            <button id="add-tip" v-on:click="addLog">Submit</button>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/add_log.js')}}"></script>

