{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_tip_url = "{{=URL('api', 'add_tip', user_signature=True)}}";
    var dup_course_url = "{{=URL('api', 'check_dup')}}";
    var is_logged_in = "{{='false' if auth.user is None else 'true'}}";
    var get_profs_url = "{{=URL('api', 'get_profs')}}";
</script>
{{end}}
<div class="add_class_form_outer_box">
    <p>Add Tip</p>

    <div class="add_class_form" id="vue-div4">
        <div v-if="courseProfs.length < 1 || currProf == 'Add a new professor'">
            <div class="add_class_form_box" style="display:inline-block">
                <p>Course Professor</p>
                <textarea v-model="tipProf" placeholder="e.g. 'Luca de Alfaro'"></textarea>
            </div>
        </div>
        <div v-else>
            <div v-if="currProf != 'Add a new professor'">
                <div class="add_class_form_box" style="display:inline-block">
                    <p>Course Professor</p>
                    <div class="styled-select" id="prof_select"> 
                        <select v-model="currProf">
                            <option disabled value="">Choose a professor</option>
                            <option v-for="prof in courseProfs">
                                ${prof}
                            </option>
                            <option>Add a new professor</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- SHOULD RPOBABLY WRITE A FUNCTION THAT CALCUATES THE CURRENT
             THE CURRENT YEAR AND DOES A FOR-LOOP TO CREATE QUARTERS FOR EACH
             ACAMEDIC YEAR FOR THE PAST ~4 YEARS BUT COULD ALSO JUST LEAVE IT
             HARD-CODED-->
        <div class="add_class_form_box "style="display:inline-block">
            <p>Quarter</p>
            <div class="select_box">
                <div class="styled-select"> 
                    <select style="width: 48%;" v-model="tipQuarter">
                        <option disabled value="">Quarter</option>
                        <option>Fall</option>
                        <option>Winter</option>
                        <option>Spring</option>
                        <option>Summer</option>
                    </select>
                    <select style="width: 48%;" v-model="tipYear">
                            <option disabled value="">Year</option>
                            <option>2018</option>
                            <option>2017</option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>
                            <option>2009</option>
                            <option>2008</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="add_class_form_box large-text" style="width: 98%">
            <p>Tip Content</p>
            <textarea v-model="tipContent" placeholder="e.g.'Write any tips related to this course here'"></textarea>
        </div>
        <div class="new-butt">
            <button id="add-tip" v-on:click="addTip">Submit</button>
        </div>

    </div>
</div>
<script src="{{=URL('static', 'js/add_tip.js')}}"></script>
