{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_page_url = "{{=URL('api', 'get_page')}}";
    var get_tips_url = "{{=URL('api', 'get_tip')}}";
    var is_logged_in = "{{='false' if auth.user is None else 'true'}}";
</script>
{{end}}

<div id="vue-div3">
    <div class="add_class_form_outer_box">
        ${courseCode}
        <i class="small_title">${courseTitle}</i>
    </div>

    <a href="{{=URL('default', 'add_tip_form')}}">
        <button>
            <i class="fas fa-plus"></i>
            Add Tip
        </button>
    </a>

    <div class= "quick_info_box">
        Quick Information
        <i id="edit" class="fas fa-edit"></i>
        <div class="quick_info">
            <div style="display:inline">Difficulty:</div>
            <div style="display:inline" v-for="i in diffRating">
                <i class="fas fa-pray"></i>
            </div>
            <div>Average Work Per Week: ${workAvg} Hours </div>
            <div v-if="attCheck">
                Attendence Taken: <i class="fa fa-check-circle-o"></i>
            </div>
            <div v-else>
                Attendence Taken: <i class="fa fa-times-circle-o"></i>
            </div>
            <div v-if="webCheck">
                Webcast Available: <i class="fa fa-check-circle-o"></i>
            </div>
            <div v-else>
                Webcast Available: <i class="fa fa-times-circle-o"></i>
            </div>
        </div>
    </div>

<main>
    <div id="vue-div">
        <div v-if="tip_list.length>0" v-for="tip in tip_list">
                ${tip.tip_author}
                    <p>${tip.tip_time} ${tip.tip_quarter} ${tip.tip_professor}</p>
                    <p>${tip.tip_content}</p>
        </div>
    </div>
</main>

</div>


<script src="{{=URL('static', 'js/class_page.js')}}"></script>