{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var add_reply_url = "{{=URL('api', 'add_reply', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var get_reply_list_url = "{{=URL('api', 'get_reply_list')}}";
    var set_thumb_url = "{{=URL('api', 'set_thumb', user_signature=True)}}";
    var is_logged_in = "{{='false' if auth.user is None else 'true'}}";
    var current_user = "{{= 'false' if auth.user is None else auth.user.email}}";
    var get_thumb_count = "{{=URL('api', 'get_count')}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var edit_reply_url = "{{=URL('api', 'edit_reply', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <!-- Show Add Form button if showPost is false -->
        <div v-if="is_logged_in && !showForm">
            <button v-on:click="show_form">Add Post</button>
        </div>

      <!-- First, let's add a form to insert blog posts. -->
        <template v-if="showForm" id="add_post" style="display:none">
            <div class="container form_row">
                <div class="label quarter">
            Title:
                </div>
                <div class="form threequarters">
                    <input v-model="form_title" placeholder="Enter the post title"/>
                </div>
            </div>
            <div class="container form_row">
                <div class="label quarter">
            Content:
                </div>
                <div class="form threequarters">
                    <textarea v-model="form_content" placeholder="Enter the content of your post"></textarea>
                </div>
            </div>
            <div class="container form_row"><div class="quarter"></div>
                <div class="threequarters">
                    <div class="submit">
                        <button id="add-post" v-on:click="add_post">Submit</button>
                    </div>
                </div>
            </div>
        </template>

      <!-- Message in case there are no posts. -->
        <div v-if="post_list.length === 0">There are no posts.</div>

        <!-- We display the posts. -->
        <div id="post_list">
            <div class="post_div" v-for="post in post_list">
                <div v-if="current_user==post.post_author">
                    <button v-on:click="editing_post(post.id)" class="fa fa-pencil-square-o"></button>
                </div>
            <!--    <div class="post_content">${post.post_content}</div> -->
                <div v-if="!post.editing">
                    <div class="post_title">${post.post_title}</div>
                    <div>${post.post_content}</div>
                </div>
                <div v-if="post.editing">
                    <textarea v-model="post.post_title"></textarea>
                    <textarea v-model="post.post_content"></textarea>
                    <button id="edit-post-btn" v-on:click="edit_content(post.id)">Submit</button>
                </div>
                <div v-if="is_logged_in" class="attributes">
                    <!-- Code for Thumbs. -->
                    <div v-if="post.thumb==null">
                        ${get_counts(post.id)}
                        <div v-if="post._thumb==null">
                            <i class="fa fa-thumbs-o-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-o-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='u'">
                            <i class="fa fa-thumbs-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-o-down gray"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='d'">
                            <i class="fa fa-thumbs-o-up gray"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                    </div>
                    <div v-if="post.thumb=='u'">
                        ${get_counts(post.id)}
                        <div v-if="post._thumb==null">
                            <i class="fa fa-thumbs-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-o-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='u'">
                            <i class="fa fa-thumbs-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-o-down gray"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='d'">
                            <i class="fa fa-thumbs-o-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-down gray"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                    </div>
                    <div v-if="post.thumb=='d'">
                        ${get_counts(post.id)}
                        <div v-if="post._thumb==null">
                            <i class="fa fa-thumbs-o-up"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='u'">
                            <i class="fa fa-thumbs-up gray"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-o-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                        <div v-if="post._thumb=='d'">
                            <i class="fa fa-thumbs-o-up gray"
                               v-on:click="handle_thumb_click('u', post.id)"
                               v-on:mouseover="thumb_mouseover('u', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i>
                            <i class="fa fa-thumbs-down"
                               v-on:click="handle_thumb_click('d', post.id)"
                               v-on:mouseover="thumb_mouseover('d', post.id)"
                               v-on:mouseout="thumb_mouseout(post.id)"></i> ${post.count}
                        </div>
                    </div>
                </div>
                <div v-if="!post.replies">
                    <button v-on:click="show_replies(post.id)">Show Replies</button>
                </div>
                <div v-if="post.replies">
                    <button v-on:click="show_replies(post.id)">Hide Replies</button>
                    <button v-on:click="show_reply_form(post.id)">Add Reply</button>
                    <div v-if="post.reply_form">
                        <div class="form threequarters">
                            <textarea v-model="form_content" placeholder="Enter the content of your reply"></textarea>
                        </div>
                        <button v-on:click="add_reply(post.id)">Submit</button>
                    </div>
                <!--    <div v-if="reply_list.length === 0">There are no replies.</div> -->
                    <div v-for="reply in reply_list">
                        <div class="replies" v-if="post.id==reply.post_id">
                            <button v-on:click="editing_reply(reply.id)" class="fa fa-pencil-square-o"></button>
                            <div v-if="!reply.editing">
                                <div>${reply.reply_content}</div>
                            </div>
                            <div v-if="reply.editing">
                                <textarea v-model="reply.reply_content"></textarea>
                                <button v-on:click="edit_reply_content(post.id, reply.id)">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
