{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var add_reply_url = "{{=URL('api', 'add_reply', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    var is_logged_in = "{{='false' if auth.user is None else 'true'}}";
    var current_user = "{{= 'false' if auth.user is None else auth.user.email}}";
</script>
{{end}}

<nav>
    <button>Add Class</button>
</nav>

<main>

    <div class="class_box">
        CMPS 101
        <div class="class_info">
            <p>Abstract Data Type</p>
            <p>Contributions: 10000</p>
            <i class="fa fa-dizzy"></i>
            <i class="fa fa-dizzy"></i>
            <i class="fa fa-dizzy"></i>
        </div>

    </div>


</main>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
