#vue-div {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

div.top_bar{
    font-size: 250%;
    padding:10px;
}

div.class_box{
    margin: 15px;
    padding:15px;
    width: 20rem;
    height:17rem;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: #F2655A;
    font-size: 250%;
    color: white;
}

div.class_info{
    margin-top: 10px;
    margin-bottom: 10px;
    height:70%;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    font-size: 50%;
    color: #636363;
}
