#vue-div {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

div.top_bar{
    font-size: 250%;
    padding:10px;

}

#add{
    font-size: 65%;
    color: white;
    float: right;
}

.small_title{
    font-size:75%;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
}

div.class_box{
    margin: 15px;
    padding:15px;
    width: 20rem;
    height:17rem;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: #F2655A;
    font-size: 250%;
    color: white;
    transition: all .2s ease-in-out;
}


div.class_box:hover{
    margin: 15px;
    padding:15px;
    width: 20rem;
    height:17rem;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: rgb(204, 89, 81);
    font-size: 250%;
    color: white;
    transform: scale(1.05,1.05) ;
}



div.class_info{
    margin-top: 10px;
    margin-bottom: 10px;
    height:70%;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    font-size: 50%;
    color: #636363;
}

div.add_class_form_box{
    margin: 10px;
    padding:15px;
    width:48%;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: #F2655A;
    font-size: 150%;
    color: white;
    height: auto;
}

div.add_class_form_outer_box{
    margin-top: 20px;
    padding:15px;
    width: 100%;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: #F2655A;
    font-size: 250%;
    color: white;
}

div.add_class_form{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    font-size: 50%;
    color: #636363;
}

div.select_box{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    font-size: 50%;
    color: #636363;
}

div.quick_info{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    color: #636363;
}

div.quick_info_box{
    margin: 20px;
    padding:15px;
    width: 48%;
    font-family: "Montserrat-Bold", "Montserrat SemiBold", "Montserrat", Montserrat, Montserrat, "Montserrat SemiBold", sans-serif;
    background-color: #F2655A;
    font-size: 150%;
    color: white;
    height: auto;
}

textarea {
   resize:none;
}

.large-text textarea {
    resize:none;
    height: 10em;
 }

.quarter_prof{
    display: inline-block;
    font-size: 65%;
}

#edit-butt{
    float:right;
    display: inline-block;
}

div.tips{
    margin-top: 10px;
    margin-bottom: 5px;
    height: auto;
    padding:15px;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    color: #636363;
}

.styled-select select {
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    padding:15px;
    font-size:120%;
    background-color:white;
    font-family: "Montserrat-Light", "Montserrat Light", "Montserrat", Montserrat, Montserrat, "Montserrat Light", sans-serif;
    color: #636363;
}


#tip-title{
    margin-bottom: 10px;
    display: inline-block;
}
#save-butt{
    font-size: 65%;
    color: white;    
}

#tip-content{
    margin-top: 10px;
}

#white-space{
    height: 30px;
}
